<p>&nbsp;</p>
<div class="panel panel-default col-sm-offset-1 col-sm-10">
    <div style="float: right;"><a href="/venues/<%= @venue.id %>/edit"><i class="fa fa-pencil-square fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="/venues/<%= @venue.id %>/delete"><i class="fa fa-trash fa-lg"></i></a></div>
  <h1><%= @venue.name %></h1>

  <p><strong>Address: </strong><%= @venue.address %>, <%= @venue.zipcode %></p>
  <p><strong>Phone: </strong><%= @venue.phone %></p>
  <p><strong>Website: </strong><%= @venue.website  %> </p>
  <p><strong>E-mail: </strong><%= @venue.email  %> </p>
</div>


<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Upcoming Shows at <%= @venue.name %></strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @venue.shows.order(show_date: :asc).where('show_date >= ?', Date.today).each do |show| %>
      <tr>
        <td><%= show.name %>  <a href="/shows/<%= show.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.act.name %>  <a href="/acts/<%= show.act.slug %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.fmatdate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Past Shows</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @venue.shows.order(show_date: :desc).where('show_date < ?', Date.today).each do |show| %>
      <tr>
        <td><%= show.name %>  <a href="/shows/<%= show.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.act.name %>  <a href="/acts/<%= show.act.slug %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.fmatdate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>