<p>&nbsp;</p>
<div class="panel panel-default col-sm-offset-1 col-sm-10">
    <div style="float: right;"><a href="/acts/<%= @act.slug %>/edit"><i class="fa fa-pencil-square fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="/acts/<%= @act.slug %>/delete"><i class="fa fa-trash fa-lg"></i></a></div>
  <h1><%= @act.name %></h1>

  <p><strong>Location: </strong><%= @act.location %></p>
  <p><strong>Website: </strong><%= @act.website %> </p>
  <p><strong>Size: </strong><%= @act.size %></p>
  <p><strong>Description: </strong><br/><%= @act.description %> </p>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Upcoming Shows for <%= @act.name %></strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Venue</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @act.shows.order(show_date: :asc).where('show_date >= ?', Date.today).each do |show| %>
      <tr>
        <td><%= show.name %>  <a href="/shows/<%= show.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.venue.name %>  <a href="/venues/<%= show.venue.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.fmatdate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Past Shows</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Venue</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @act.shows.order(show_date: :asc).where('show_date < ?', Date.today).each do |show| %>
      <tr>
        <td><%= show.name %>  <a href="/shows/<%= show.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.venue.name %>  <a href="/venues/<%= show.venue.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= show.fmatdate %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

